@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>hello vc</h1>
<h1>hello vc</h1>

<h1>hello vc</h1>

<h2>Index</h2>

<p>
    <a href="/Department/Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>DepartmentID</th>
        <th>DepartmentName</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in ViewBag.Departments as List<EmployeeForm.Models.Department>)
    {
        <tr>
            <td>@item.DepartmentId</td>
            <td>@item.DepartmentName</td>
            <td>
                <a href="/Department/Edit/@item.DepartmentId">Edit</a> |
                <a href="/Department/Details/@item.DepartmentId">Details</a> |
                <a href="/Department/Delete/@item.DepartmentId">Delete</a>
            </td>
        </tr>
    }
</table>
