@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model EmployeeForm.Models.ProductModel;
<main id="main" class="main">

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title text-center">Product Form</h1>

                        <!-- General Form Elements -->
                        <form asp-action="Validate" method="post">

                            <div class="row mb-3">
                                <label asp-for="ProductName" class="col-sm-2 col-form-label">ProductName</label>
                                <div class="col-sm-10">
                                    <input type="text" asp-for="ProductName" class="form-control">
                                    <span asp-validation-for="ProductName" class="text-danger"></span>
                                </div>
                            </div>
                            
                            <div class="row mb-3">
                                <label asp-for="ProductPrice"  class="col-sm-2 col-form-label">Product Price</label>
                                <div class="col-sm-10">
                                    <input type="number" asp-for="ProductPrice" class="form-control">
                                    <span asp-validation-for="ProductPrice" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label asp-for="ProductCode" class="col-sm-2 col-form-label">Product Code</label>
                                <div class="col-sm-10">
                                    <input type="text" asp-for="ProductCode" class="form-control">
                                    <span asp-validation-for="ProductCode" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="row mb-3">
                                <label asp-for="Description" class="col-sm-2 col-form-label">Description</label>
                                <div class="col-sm-10">
                                    <input type="text" asp-for="Description" class="form-control">
                                    <span asp-validation-for="Description" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputNumber" asp-for="UserId" class="col-sm-2 col-form-label">UserID</label>
                                <div class="col-sm-10">

                                    <select class="form-control" asp-for="UserId" asp-items="@(new SelectList(ViewBag.UserList, "id", "value"))">
                                        <option value="">Select User</option>
                                    </select>

                                </div>
                            </div>


                            <div class="row mb-3">
                                <div class="col-1 mx-auto">
                                    <a asp-controller="Product" asp-action="Validate">
                                        <input type="hidden" name="ProductID" value="@Model.ProductId"/>
                                        <button class="btn btn-primary" type="submit">Submit</button>
                                    </a>
                                </div>
                            </div>

                        </form><!-- End General Form Elements -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}